.main {
  max-width: 100vw;
  min-height: 130vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 475px) {
  .main {
    gap: 2rem;
    background-image: url("../assets/foto_patrulheiro_mobile.png");
  }
}
