.inscription_button {
  max-height: 3rem;
  min-height: 3rem;
  padding: 0 2rem;
  color: white;
  border-radius: 2rem;
  background-color: #003ec7;
  border: none;
  font-size: 1.2em;
  width: fit-content;
}
.inscription_button:hover {
  background-color: #003fc7c2;
  cursor: pointer;
}
